[Desktop Entry]
Name=MakeCode Micro:bit
Exec=x-www-browser https://makecode.microbit.org/
Icon=microbit
Categories=Education;Development;Escuela40;
Type=Application
Terminal=false
Comment=Acceso directo a MakeCode Micro:bit