[Desktop Entry]
Name=MakeCode Micro:bit
Exec=/usr/bin/vx-microbit
Icon=microbit
Categories=Education;Development;
Type=Application
Terminal=false
Comment=Acceso directo a MakeCode Micro:bit