Source: vx-dga-x-microbit
Section: education
Priority: optional
Maintainer: Gabriel Navia <correos@gabrielnav.es>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13)

Package: vx-dga-x-microbit
Architecture: all
Depends: chromium-browser | google-chrome-stable | firefox-esr | firefox, desktop-file-utils
Description: Lanzador de MakeCode Micro:bit para Vitalinux
 Este paquete proporciona un acceso directo a la plataforma MakeCode Micro:bit
 de Microsoft, permitiendo a los estudiantes acceder a un entorno integrado
 para programar placas BBC Micro:bit de forma sencilla desde el escritorio Vitalinux.
